/* Write your CSS here */
.mainPrime {
  background-color: black;
  padding: 30px;
}
.primevideoImage {
  width: 100%;
  height: 20vw;
  margin: 0px;
}
.bottomContainer {
  min-height: 80vw;

  margin: 0px;
  padding: 0px;
}
.actionMoviesCont {
  color: white;
  margin: 0px;
}
.headingAction {
  color: white;
  font-family: Roboto;
  font-size: 25px;
}
.actionMoviesCont {
  padding: 20px;
}
.actionMovies {
  padding: 20px;
}
